<form name="input" method="post">
  <label>
    <span>Create a New Account</span>
  </label>
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" name="accountName"></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="number" name="accountPhone"></td>
    </tr>
  </table>


<input type="submit" value="Create" id="create">




</form>
