<form name="destroy" method="post">
  <label>
    <span>Delete a Record on Any Object</span>
  </label>
  <table>
    <tr>
      <td>Object</td>
      <td><input type="text" name="object"></td>
    </tr>
    <tr>
      <td>Id for specific Record</td>
      <td><input type="text" name="theId"></td>
    </tr>
  </table>


<input type="submit" value="Destroy" id="delete">




</form>
