<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<table class="table">
<tr><th>Account</th><th>ID</th><th>Currently Active</th></tr>
<% @accounts.each do |account| %>
  <tr>
     <td><%= account.Name %></td>
     <td><%= account.Id %></td>
     <td><%= account.Active__c %></td>
  </tr>
<% end %>
</table>