<table>
<tr><th>Account</th><th>ID</th></tr>
<% @accounts.each do |account| %>
  <tr>
     <td><%= account.Name %></td>
     <td><%= account.Id %></td>
     <td><%= account.Active__c %></td>
  </tr>
<% end %>
</table>