<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<ul id="bar" class="nav nav-pills">
<li><a href="/" id="home" class="button update">Home</a></li>
<li><a href="/newAccount" id="update" class="button update">Create New Account</a></li>
 <li><a href="/update" id="update" class="button update">Update</a></li>
<li><a href="/destroy" id="update" class="button update">Destroy</a></li>
</ul>



<table class="table table-hover">
<tr><th>Account</th><th>ID</th><th>Currently Active</th><th>Phone</th></tr>
<% @accounts.each do |account| %>
  <tr>
     <td><%= account.Name %></td>
     <td><%= account.Id %></td>
     <td><%= account.Active__c %></td>
     <td><%= account.Phone %></td>
  </tr>
<% end %>
</table>

<style>

#bar li a:hover {
color: white !important;
background-color: #87CEEB !important;
}


/*#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }
#nav li {
  float: left; }
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; }
#nav li a:hover {
  color: #c00;
  background-color: #fff; }*/
</style>






