<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<ul id="bar" class="nav nav-pills">
<li><a href="/" id="home" class="button update">Home</a></li>
<li><a href="/newAccount" id="update" class="button update">Create New Account</a></li>
 <li><a href="/update" id="update" class="button update">Update</a></li>
<li><a href="/destroy" id="update" class="button update">Destroy</a></li>
</ul>

<form name="update" method="post">
  <label>
    <span>Update a Record on Any Object</span>
  </label>
  <table>
    <tr>
      <td>Object</td>
      <td><input type="text" name="object"></td>
    </tr>
    <tr>
      <td>Id for specific Record</td>
      <td><input type="text" name="theId"></td>
    </tr>
    <tr>
      <td>Field API to update</td>
      <td><input type="text" name="fieldValue"></td>
    </tr>
    <tr>
      <td>New Value for field</td>
      <td><input type="text" name="newValue"></td>
    </tr>
  </table>


<input type="submit" value="Update" id="update">




</form>

<style>

#bar li a:hover {
color: white !important;
background-color: #87CEEB !important;
}

</style>