<form name="update" method="post">
  <label>
    <span>Update a Record on Any Object</span>
  </label>
  <table>
    <tr>
      <td>Object</td>
      <td><input type="text" name="object"></td>
    </tr>
    <tr>
      <td>Id for specific Record</td>
      <td><input type="text" name="theId"></td>
    </tr>
    <tr>
      <td>Field API to update</td>
      <td><input type="text" name="fieldValue"></td>
    </tr>
    <tr>
      <td>New Value for field</td>
      <td><input type="text" name="newValue"></td>
    </tr>
  </table>


<input type="submit" value="Update" id="update">




</form>
